extends layout


block content
  .jumbotron
    .container
      h1 WebPlot
      p
        | WebPlotへようこそ.
        br
        | ブラウザ上からグラフのプロット・アニメーション生成を行えるサービスです．
      .btn-group.btn-group-justified
        a.btn.btn-primary.btn-lg(href='/plot') プロットを行う
        a.btn.btn-info.btn-lg(href='/howtouse') 使い方
      p
        a.btn.btn-link(href='https://github.com/nyaocat/WebPlot') View It On Github

  .container
    .row
      .col-sm-6.col-md-4
        a.thumbnail(href='#',data-toggle='modal',data-target='#myModal1')
          img(src='sample/shade.png')
      .col-sm-6.col-md-4
        a.thumbnail(href='#',data-toggle='modal',data-target='#myModal2')
          img(src='sample/cont.png')
      .col-sm-6.col-md-4
        a.thumbnail(href='#',data-toggle='modal',data-target='#myModal3')
          img(src='sample/vector.png')
      .col-sm-6.col-md-4
        a.thumbnail(href='#',data-toggle='modal',data-target='#myModal4')
          img(src='sample/line.png')



  #myModal1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel1', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel1.modal-title "色つき等高線グラフ"の描画例
        .modal-body
          .container
            img(src='sample/shade.png',width='100%')
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close

  #myModal2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel2', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel2.modal-title "等高線グラフ"の描画例
        .modal-body
          .container
            img(src='sample/cont.png',width='100%')
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close

  #myModal3.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel3', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel3.modal-title "ベクトルグラフ"の描画例
        .modal-body
          .container
            img(src='sample/vector.png',width='100%')
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close

  #myModal4.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel4', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#myModalLabel4.modal-title "X-Y 折れ線グラフ"の描画例
        .modal-body
          .container
            img(src='sample/line.png',width='100%')
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close

  script(src='/js/bootstrap.min.js')
