html
  head
    title WebPlot
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Bootstrap
    link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
    script(src='/assets/js/html5shiv.js')
    script(src='/assets/js/respond.min.js')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='/assets/js/jquery.js')
    script(src='/js/jquery.upload-1.0.2.js')
    script(src='/js/index.js')
    style(type='text/css')
      body { padding-top: 50px; }
  body
    .jumbotron
      .container
        h1 WebPlot
        p
          | WebPlotへようこそ.
          br
          | ブラウザ上からグラフのプロット・アニメーション生成を行えるサービスです．
        p
          a.btn.btn-info.btn-lg(href='https://github.com/nyaocat/WebPlot') View It On Github

    .container
      .alert.alert-info
        | 複数ファイルをアップロードすると自動的にアニメーションになります．
        br
        | アニメーションはファイル名の昇順に行われます
      .alert.alert-warning ファイル形式は全て一行一データ，X座標-Y座標-値の空白区切りである必要があります
      form#thatForm.form-horizontal(role='form')
        #Fields
          .form-group
            label.col-lg-2.control-label(for='graphTitle') グラフのタイトル
            .col-lg-10
              input#graphTitle.form-control(type='text', name='graphTitle', value='Graph Title')
          .form-group
            label.col-lg-2.control-label(for='labelNameX') X軸のラベル名
            .col-lg-10
              input#labelNameX.form-control(type='text', name='labelNameX', value='X')
          .form-group
            label.col-lg-2.control-label(for='labelNameY') Y軸のラベル名
            .col-lg-10
              input#labelNameY.form-control(type='text', name='labelNameY', value='Y')
          .form-group
            label.col-lg-2.control-label(for='graphType') 描画グラフ種類
            .col-lg-10.input-group
              select#graphType.form-control.input-lg(name='graphType')
                option(value='p3',selected) 偽色
              span.input-group-addon グラフ
          .form-group
            label.col-lg-2.control-label(for='dateFile') データファイル
              span.badge.pull-right 必須
              span.badge.pull-right 複数ファイル可
            .col-lg-10
              input#dataFile.form-control(type='file', name='dataFile', multiple='multiple')
            input#dataPath(type='hidden', name='dataPath', value='')
        .form-group
          .col-lg-offset-2.col-lg-10
            button#thatSubmit.btn.btn-primary.disabled.btn-block(type='submit') プロット実行
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title 生成結果
          .modal-body
            img#myImg.img-thumbnail(src='', alt='プロットプレビュー', style='display:none;')
            span#rndMes
            #myBar
              .alert.alert-info グラフのプロットには数秒〜数十分掛かります．
              .progress.progress-striped.active
                .progress-bar(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%')
                  span.sr-only グラフ生成中…
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') 閉じる
            a#dBtn.btn.btn-primary.disabled(href='') ファイルをダウンロード
        // /.modal-content
      // /.modal-dialog
    // /.modal
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/js/bootstrap.min.js')
